@use "./variables.scss" as *;

// put your custom CSS here!
.page-title {
  background-image: url("/static/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 8rem;
  width: 100%;

  a {
    /* Hide the text but keep it for screen readers */
    color: transparent;
    font-size: 0;
    line-height: 0;
    display: block;
    height: 100%;
    width: 100%;
  }
}